In [1]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id pelajaran  nilai jenis-kelamin kelas
0         1   Ekonomi     52     perempuan   12B
1         2     Kimia     88     perempuan   12B
2         3   Geologi     73     laki-laki   12A
3         4   Biologi     87     perempuan   12A
4         5    Fisika     75     perempuan   12C

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [2]:
# code here
df.loc[:, ['nilai', 'kelas']]

    nilai kelas
0      52   12B
1      88   12B
2      73   12A
3      87   12A
4      75   12C
5      38   12C
6      15   12C
7      93   12C
8      53   12D
9      84   12D
10     90   12C
11      2   12D
12     18   12B
13     31   12B
14     54   12A
15     56   12A
16     34   12D
17     39   12D
18     96   12B
19     31   12C

In [3]:
df.loc[5:10, ['pelajaran', 'nilai']]

     pelajaran  nilai
5      Ekonomi     38
6   Matematika     15
7      Ekonomi     93
8        Kimia     53
9      Ekonomi     84
10  Matematika     90

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [4]:
# code here
df[(df.pelajaran == 'Ekonomi') | (df.pelajaran == 'Fisika')]

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1   Ekonomi     52     perempuan   12B
4          5    Fisika     75     perempuan   12C
5          6   Ekonomi     38     perempuan   12C
7          8   Ekonomi     93     laki-laki   12C
9         10   Ekonomi     84     perempuan   12D
11        12   Ekonomi      2     laki-laki   12D
14        15   Ekonomi     54     laki-laki   12A
16        17    Fisika     34     laki-laki   12D

In [5]:
df[(df.pelajaran == 'Kimia') & (df.nilai > 50)]

    siswa_id pelajaran  nilai jenis-kelamin kelas
1          2     Kimia     88     perempuan   12B
8          9     Kimia     53     perempuan   12D
15        16     Kimia     56     perempuan   12A

In [6]:
df[(df.nilai > 70) & (df['jenis-kelamin'] == 'perempuan') & (df.kelas == '12C')]

    siswa_id   pelajaran  nilai jenis-kelamin kelas
4          5      Fisika     75     perempuan   12C
10        11  Matematika     90     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [7]:
# code here
df['normalized_nilai'] = (df.nilai - df.nilai.min())/(df.nilai.max() - df.nilai.min())
df

    siswa_id   pelajaran  nilai jenis-kelamin kelas  normalized_nilai
0          1     Ekonomi     52     perempuan   12B          0.531915
1          2       Kimia     88     perempuan   12B          0.914894
2          3     Geologi     73     laki-laki   12A          0.755319
3          4     Biologi     87     perempuan   12A          0.904255
4          5      Fisika     75     perempuan   12C          0.776596
5          6     Ekonomi     38     perempuan   12C          0.382979
6          7  Matematika     15     laki-laki   12C          0.138298
7          8     Ekonomi     93     laki-laki   12C          0.968085
8          9       Kimia     53     perempuan   12D          0.542553
9         10     Ekonomi     84     perempuan   12D          0.872340
10        11  Matematika     90     perempuan   12C          0.936170
11        12     Ekonomi      2     laki-laki   12D          0.000000
12        13     Biologi     18     laki-laki   12B          0.170213
13        14     Biologi     31     perempuan   12B          0.308511
14        15     Ekonomi     54     laki-laki   12A          0.553191
15        16       Kimia     56     perempuan   12A          0.574468
16        17      Fisika     34     laki-laki   12D          0.340426
17        18     Geologi     39     perempuan   12D          0.393617
18        19     Biologi     96     perempuan   12B          1.000000
19        20       Kimia     31     laki-laki   12C          0.308511